# This is the manifest for values that are sent directly
# to html-webpack-plugin for details on all the options available look here:

# NOTE: this file is loaded before the dev server so you will need
# to restart the dev server if editing it.

# This goes to the html-webpack-plugin. Check out
# https://github.com/jantimon/html-webpack-plugin#options
# for more info.
htmlConfig:
  title: '<%=appname%>'

# Here are some options that get passed to html-webpack-externals-plugin
# this is useful for CDN's
externalsConfig:
  enabled: true
  externals: [
    {
      module: 'mithril'
      entry: 'https://cdnjs.cloudflare.com/ajax/libs/\
              mithril/1.1.6/mithril.min.js'
      global: 'm'
    }
  ]

# Here we have a list of postCss plugins. This will accept eithe
postCssPlugins:
  common:
    'postcss-use':
      modules: [
        'autoprefixer'
        'postcss-opacity'
        'postcss-vmin'
        'pixrem'
      ]

  # The following two arrays are the postCss plugins that will be loaded in each
  # development environment.
  dev: {}

  prod:
    'css-mqpacker': {}
    'cssnano': {}
