# This is the manifest for values that are sent directly
# to html-webpack-plugin for details on all the options available look here:

# NOTE: this file is loaded before the dev server so you will need
# to restart the dev server if editing it.

# This goes to the html-webpack-plugin. Check out
# https://github.com/jantimon/html-webpack-plugin#options
# for more info.
htmlConfig:
  title: '<%=appname%>'

# Here are some options that get passed to html-webpack-externals-plugin
# this is useful for CDN's
externalsConfig:
  enabled: true
  externals: [
    {
      module: 'mithril'
      entry: 'https://cdnjs.cloudflare.com/ajax/libs/\
              mithril/1.1.6/mithril.min.js'
      global: 'm'
    }
  ]

# Finally we have the config for postCSS
postCssConfig:
  plugins:
    'postcss-use': {}
    'css-mqpacker': {}
    'cssnano': {}
    'postcss-will-change': {}
    'autoprefixer': {}
    'postcss-color-rgba-fallback': {}
    'postcss-opacity': {}
    'postcss-pseudoelements': {}
    'postcss-vmin': {}
    'pixrem': {}
