// This is where basic customization should go
// body, *, and any simple class customizations
// that may be used app-wide

body
  font: normal 16px Verdana
  margin: 0
  padding: 0

*, *:before, *:after
  box-sizing: content-box
