// This is where basic customization should go
// body, *, and any simple class customizations
// that may be used app-wide

// // Using this instead
@require "~semantic-ui-stylus/dist/semantic.min.css"

body,.input,.button
  font: normal 16px Verdana
  margin: 0

.animate
  animate()
