// This was literally coppied line by line from the create-react-app generated code.

.App
  text-align: center

.App-logo
  // Notice I use animation here though this module is '@require'd before the 'keyframes' module.
  // This is possible because the stylus-loader compiles all the css into a single file.
  animation App-logo-spin infinite 20s linear
  height 80px

.App-header
  background-color: #222
  height: 150px
  padding: 20px
  color: white

.App-title
  left: center
  font-size: 1.5em

.App-intro
  font-size: large
  left: center
