// This was literally coppied line by line from the create-react-app generated code.

.App
  text-align: center

.App-logo
  // Notice I use animation here though this module is '@require'd before the 'keyframes' module.
  // This is possible because the stylus-loader compiles all the css into a single file.
  animation App-logo-spin infinite 20s linear
  height 5rem

.App-header
  background-color: #222
  // height: 150px
  height: 50vmin
  padding: 20px
  color: #fff9

.App-title
  font-size: 1.5rem

.App-intro
  font-size: large
