// All keyframe animations.

shadow = 1px 1px 3px 3px #ccc

animate =
  display: block
  box-shadow: shadow
  &:active
    animation: down 1s step-start

.animate
  {animate}

@keyframes down
  0%
    transform: translate(0, 0)
    box-shadow: $shadow
  100%
    transform: translate(1px, 3px)
    box-shadow: none

@keyframes App-logo-spin
  from
    transform: rotate(0deg);
  to
    transform: rotate(360deg)
