// All keyframe animations. I like to keep these things together as they are the most fun to play with.
// This is actually the only thing that I didn't outright 'steal' from one of the tutorials or demo packages.

// Stylus variables are super simple (just like normal variables)
shadow = 1px 1px 3px 3px #ccc

// you can even have variable blocks
animate =
  display: block
  box-shadow: shadow
  &:active
    animation: down 1s step-start

// and use them just like this...
.animate
  {animate}

// I threw this together because I like animated buttons.
@keyframes down
  0%
    transform: translate(0, 0)
    box-shadow: shadow
  100%
    transform: translate(1px, 3px)
    box-shadow: none

// EXCEPT this - I stole this from React 😏
@keyframes App-logo-spin
  from
    transform: rotate(0deg);
  to
    transform: rotate(360deg)
