// UserList specific styles

// .user-list
//   list-style: none
//   margin: 0 0 10px
//   padding: 0
//   .user-list-item
//     background: #fafafa
//     border: 1px solid #ddd
//     color: #333
//     display: block
//     margin: 0 0 1px
//     padding: 8px 15px
//     text-decoration: none
//     &:active
//       animation: down 1s step-start 1
//     &:hover
//       text-decoration: underline
