# This is the manifest for values that are send directly
# to the html-webpack-plugin for details on all the options available look here:
# https://github.com/jantimon/html-webpack-plugin#options

# NOTE: this file is loaded before the dev server so you will need
# to restart the dev server if editing it.

# I find this is the only thing I mess with.
title: 'My awesome App'

# I'm leaving these here as a reference but you really shouldn't mess with them.

# filename: 'index.html' ## DON'T MESS WITH THIS ##

# you can use a template if you want.
# template: ''
# Note ALL paths are relative to the webpack file and not this one.

# can be true | false | 'head' | 'body'
inject: true

# add favicons
# favicon: ''

# This throws an error for some reason.
# minify: true

hash: false
cache: true
showErrors: true

# should links be self-closing?
xhtml: false

# There are a few more about 'chunks' (whatever those are?)
# and there are a ton of plugins you can use as well.
# Check out the documentation.
