# This is the manifest for values that are send directly
# to the html-webpack-plugin for details on all the options available look here:
# https://github.com/jantimon/html-webpack-plugin#options

# NOTE: this file is loaded before the dev server so you will need
# to restart the dev server if editing it.

title: 'My awesome App'
